[submodule "zip/lang"]
	path = zip/lang
	url = https://github.com/HelpViewer/Translations.git
	branch = master
[submodule "zip/prism"]
	path = zip/prism
	url = https://github.com/HelpViewer/prism
	branch = main
[submodule "zip/i"]
	path = zip/i
	url = https://github.com/HelpViewer/helpInternalRef
	branch = main
[submodule "zip/base"]
	path = zip/base
	url = https://github.com/HelpViewer/HelpViewer-base
	branch = main
